* {
  margin: 0;
  font-family: Lab Grotesque VN;
  font-style: normal;
}
h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.container {
  /* margin: 0 !important; */
}

.btn-colors button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 40px;
  margin-bottom: 24px;
  border: 0;
  box-shadow: none;
  outline: none !important;
  position: relative;
}

.btn-colors .color-black {
  background-color: #111820;
}

.btn-colors .color-green {
  background-color: #185549;
}

.btn-colors .color-blue {
  background-color: #1d5ab5;
}

.btn-colors .color-pink {
  background-color: #ff67a7;
}

.btn-colors .color-orange {
  background-color: #fa5d1a;
}

.btn-colors .color-grey {
  background-color: #ebeded;
}

.btn-colors .color-red {
  background-color: #b83d24;
}

.btn-colors .color-yellow {
  background-color: #ffc700;
}

.btn-colors .color-grey-dark {
  background-color: #adb4b9;
}

.btn-colors .color-grey-photo {
  background-color: #ebeded;
}

.btn-colors .color-purple {
  background-color: #6d5093;
}

.btn-colors .color-two-color {
  background: linear-gradient(to top right, #f4eee2 50%, #12312b 50%);
}

.container-left {
  margin-left: 120px;
}

.header h1 {
  padding-bottom: 2rem;
  padding-top: 80px;
  font-weight: 700;
}

.header hr {
  border-top: 1px solid rgb(0 0 0);
  margin-bottom: 0;
}

.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
}

.top_nav .icon {
  height: 46px;
  width: 46px;
  object-fit: contain;
}

.menu_top {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.number-nav {
  font-size: 15px;
  position: absolute;
  /* margin-left: 5px; */
  font-weight: 400;
  top: 0;
  /* right: 0; */
}

.menu_top a h3,
.menu_top .btn-menu {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  margin: 0 53px;
}

.menu_top a h3:nth-child(1) {
  margin-left: 0;
}

.menu_top .btn-menu {
  margin: 0 47px;
}

.menu_top button img {
  margin-left: 23px;
}

.menu_top button:focus {
  outline: none;
  box-shadow: none;
}

.menu_top .icon {
  display: none;
}

.menu_top a:hover {
  text-decoration: none;
}

.modal-body {
  padding: 80px !important;
}

.modal-body h2 {
  font-weight: 700;
  margin-bottom: 56px;
}

.modal-body h4 {
  font-weight: bold;
  font-size: 27px;
  font-style: normal;
  margin-bottom: 1em;
  /* margin-top: 0.4em; */
}

.modal-body h4 span {
  font-weight: 100;
  color: #111820;
}

.btn-colors {
  display: grid;
  grid-template-columns: repeat(6, 0fr);
}

.modal-body .col-one,
.modal-body .col-two {
  flex: 0.4;
}

.modal-dialog {
  max-width: 1200px !important;
}

.modal-body .col-two span {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.4em;
  font-weight: 600;
}

.modal-body .col-two .item {
  margin-bottom: 40px;
}

.modal-body .col-two .item .btn-size {
  font-weight: normal;
  border: none;
  background: none;
  padding: 2px;
  margin-right: 0.4em;
  width: 48px;
  height: 48px;
}

.active {
  background-color: #000000 !important;
  color: white !important;
  border-radius: 50%;
}

.container-text-color {
  margin-top: 2em;
}

.section {
  max-width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
}

.section .col-one {
  padding: 139px 119px 139px 115px;
}

.section .col-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.section .col-two .item {
  flex: 0.5;
}

.section .col-one .text {
  color: white;
  position: absolute;
  bottom: -4.5em;
  left: 10%;
  z-index: 10;
}

.section .col-one .text h2 {
  font-weight: 300;
}

.section .col-one .text h5 {
  font-weight: 400;
}

.section .col-two .item .text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.section-one .col-one {
  background-color: #00416a;
}

.section-three .col-one {
  background-color: #b83d24;
}

.section-five .col-one {
  background-color: #7d868c;
}

.section-six .col-one {
  background-color: #9a612d;
}

.section-seven .col-one {
  background-color: #12312b;
}

/* ********************************************************  */

.section-without-container {
  margin: 120px;
}

.section-two {
  background-color: #f6e7dc;
}

.section-two .col-two .content .btn-shop {
  padding: 10px 40px 11px;
  border-radius: 24px;
  background-color: #111820;
  box-shadow: none;
  border: none;
  color: #fff;
}

.btn-shop > h5 {
  margin-bottom: 0;
}

.section-four {
  background-color: #ffc700;
}

.section-without-container .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
}

.section-without-container .col-one {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.section-without-container .col-one .title {
  width: 33%;
}

.section-without-container .col-one .image {
  flex: 0.6;
  max-width: 480px;
}

.section-without-container .col-two {
  position: relative;
  max-width: 25%;
}
.section-without-container .content {
  position: absolute;
  bottom: 0;
  width: 70%;
  right: 0;
}

.section-without-container .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}

#modalColor {
  padding: 0 !important;
}

.close-modal img {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}

.my-content-modal .item-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-toggle {
  display: none !important;
}

.btn-toggle img {
  max-width: 32px;
}

.btn-colors .active-circle::after {
  border-radius: 50%;
  border: 5px solid #000;
  position: absolute;
  content: "";
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
}

.bottom-45 {
  bottom: -6.5em !important;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0.5; /* for demo purpose  */
}

.stack-top {
  z-index: 9;
  margin: 0px; /* for demo purpose  */
  background: #000000d4;
}

.h2-special {
  position: absolute !important;
  left: 2.9em;
  width: unset !important;
}

.text > .description,
.money {
  font-weight: 700 !important;
}

.bold {
  font-weight: bold;
}

.custom-card-master {
  position: relative;
  display: flex;
  justify-content: center;
}

.custom-card-master > img {
  flex: 1;
}

.section-six-mobile,
.section-three-mobile {
  display: none;
}

.noUi-horizontal .noUi-handle::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  color: #fff;
  border-radius: 50%;
  top: 6px;
  border: 3px solid;
  left: 6px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  .section .col-one {
    padding: 74px 61px 74px 61px;
  }

  .header h1 {
    padding-top: 60px;
  }

  .user {
    display: flex;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }
  .container-left {
    margin-left: 5%;
  }

  .top_nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .menu_top a:not(:first-child) {
    display: none;
  }
  .menu_top a.icon {
    float: right;
    font-size: 20px;
    display: block;
    margin-top: 14px;
  }

  .number-quantity {
    display: none;
  }

  .menu_top .btn-menu {
    margin: 0;
    font-size: 27px;
    padding: 0;
  }

  .menu_top.responsive {
    position: relative;
    float: none;
  }
  .menu_top.responsive .icon {
    position: absolute;
    left: 33.7%;
    top: 0;
  }
  .menu_top.responsive a {
    float: none;
    display: block;
    text-align: left;
    width: fit-content;
  }

  .section .col-one img {
    max-width: 253px;
    height: 361px;
  }

  .section .col-one .text {
    display: block;
    margin-left: 0;
    left: 15%;
    bottom: -3.5em !important;
  }

  .bottom-75 {
    bottom: -5.5em !important;
  }

  .section-without-container {
    margin: 0;
  }

  .h2-special {
    left: auto;
    top: -1.8em;
  }

  .section-without-container .container {
    padding: 120px 64px;
  }

  .section-without-container .col-one {
    display: block;
  }

  .section-without-container .col-one .image img {
    width: 250px;
    /* margin-left: 22px; */
  }

  .section-without-container .col-one .content {
    margin-top: 1rem;
    margin-left: 0;
  }

  .section-without-container .col-one h3 {
    margin-left: 5%;
    left: 0;
    top: 1.2em;
    position: absolute;
  }

  .section-without-container .col-two {
    max-width: 100%;
  }
  .section-without-container .content {
    position: unset;
    margin-top: 2em;
  }

  .section-without-container .col-one .title {
    font-size: 36px !important;
    line-height: 40px !important;
    justify-content: unset;
    margin-left: -30px;
    width: 100%;
    margin-bottom: 0.8em;
  }

  .section {
    margin: 0;
  }

  .modal-body {
    padding: 30px !important;
  }

  .section-two .content,
  .section-four .content {
    width: 100%;
    /* margin-left: 22px; */
  }

  .section-two, .section-four{
    margin-bottom: 80px;
  }

  .section-without-container .content button {
    margin-top: 1.5em;
  }

  .my-content-modal {
    flex-direction: column;
  }
  .menu_top button {
    font-size: 25px;
  }
  .modal-body .col-two span {
    position: relative;
  }
  .modal-body .col-two .item {
    margin-top: 2em;
    margin-right: 0;
  }

  .btn-toggle {
    display: initial !important;
    border: none;
    background: none;
    padding: 0 !important;
  }

  #colors,
  #price {
    display: none;
  }

  #btn-minus-1,
  #btn-minus-2,
  #btn-minus-3,
  #btn-minus-4 {
    display: none;
  }

  .modal-body .col-two .item .btn-size {
    margin-right: 0.4em;
    width: 40px;
    height: 40px;
  }

  .number-nav {
    /* margin-left: 10px; */
    right: -25px;
  }

  .section-three-mobile .col-one {
    background-color: #b83d24;
  }

  .section-six-mobile .col-one {
    background-color: #9a612d;
  }

  .section-six,
  .section-three {
    display: none;
  }
  .section-six-mobile, .section-three-mobile{
    display: block;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    /* color: green !important; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    /* color: yellow !important; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    /* color: blue !important; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    /* color: purple !important; */
  }
}
