:root {
  --nav-height: 100px;
  --product-img: 48rem;
  --white-color: #fff;
  --nav-item-height: 46px;
  --text-header-size: 11.2rem;
  --text-color: #111820;
  --border-color: #111820;
  --font-size-lg: 4rem;
  --line-height-lg: 4.8rem;
  --font-size-md: 2.7rem;
  --line-height-md: 3.5rem;
  --font-size-sm: 1.7rem;
  --line-height-sm: 2.7rem;
}

* {
  margin: 0;
  font-family: "Lab Grotesque VN";
  font-style: normal;
}

.container {
  padding-left: 120px!important;
  min-width: 100% !important;
  margin: 0 !important;
}

h2 {
  font-size: 64px;
  font-weight: 300;
  line-height: 68px;
}

h1,
h4,
h5 {
  /* padding: 0 !important; */
  margin: 0 ;
}

.your-email h5 {
  margin: 0 !important;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  /*Trick de fontsize 62,5% thì 1rem  sẽ là 10px muốn để
    font-size = 12 thì --> 1.2rem*/
  font-size: 62.5%;
  line-height: 2.7rem;
  /*font sans-serif là chủng font chữ k chân, sẽ hiển thị
    trong khi đợi font Roboto được tải về*/
  font-family: "Lab Grotesque VN", sans-serif;
  box-sizing: border-box;
}

.bold {
  font-weight: 900;
}

.button-conf {
  min-width: 110px;
  height: 48px;
  text-decoration: none;
  border: none;
  padding: 0 40px 2px;
  border-radius: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.mb-132 {
  margin-bottom: 13.2rem;
}

.main {
  overflow: hidden;
}

.app {
  width: 100%;
}

.heading {
  /* position: relative; */
  height: 100vh;
  width: 100% !important;
  padding-top: 50%;
  background-size: cover !important; 
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;

}

.carousel {
  position: relative;
  width: 100%;
}

.carousel-indicators {
  bottom: 4rem !important;
  justify-content: flex-start !important;
  z-index: 1;
}

.carousel-indicators li {
  width: 8px !important;
  height: 8px !important;
  background-color: #111820 !important;
  border-radius: 50% !important;
}

.carousel-indicators .active {
  background-color: transparent !important;
  width: 40px !important;
  border-radius: 5px !important;
  position: relative;
}

.carousel-indicators .active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--white-color);
  width: 40px ;
  height: 8px;
  border-radius: 5px;
}

.nav-content {
  position: relative; 
}

h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

/* navigation */
.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.number-quantity {
  color: #fff;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
}

.nav-active {
  display: initial !important;
}

.nav-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 48.7%;
  background-color: var(--white-color);
  z-index: 1;
  display: none;
  transition: 0.5s;
  padding: 7% 7% 4% 7%;
  z-index: 16;
}

/* select */

.sidebar-bottom-region label {
  font-size: 1.7rem;
  line-height: 2.7rem;
  margin-bottom: 0;
}

select {
  border: none;
  outline: none;
  /* background: transparent; */
  /* width: 10vh; */
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: bold;
  box-shadow: none;
}

select:focus {
  outline:none;
}

select > option {
  border: none;
  outline: 0px;
  background: transparent;
  color: #b7bfc5;
}
/* 
select#language {
  width: 12vh;
} */

.slidebar-bottom-separate {
  border: 1px solid #b7bfc5;
  height: 2vh;
  margin: 0 1vh 0 2vh;
}
/* end select */

.nav-btn {
  cursor: pointer;
}

.nav-btn-close {
  position: absolute;
  top: 4%;
  left: 7%;
}

.nav-list {
  padding-left: 0;
  /* margin:  */
  list-style: none;
  flex: 1;
}

.nav-list-item {
  display: block;
  margin-bottom: 3.2rem;
}

.slidebar-content {
  height: 100%;
}

.sidebar-bottom-ship {
  display: flex;
  align-items: center;
}

.sidebar-bottom h5 {
  color: var(--text-color);
  font-weight: 700;
}

.sidebar-bottom-text {
  color: #7d868c;
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: 400;
  margin-bottom: 0;
}

/* header content */

.header__content {
  position: absolute;
  top: 0;
  margin-top: calc(var(--nav-height) + 9vh);
}

.header__content-heading {
  color: var(--white-color);
  margin: 0 0 8px 0;
  font-weight: 700;
}

.header__content-description {
  color: var(--white-color);
  font-weight: 300;
  margin-bottom: 4rem;
}

.header__content-btn {
  background-color: var(--white-color);
  font-weight: 400;
  padding: 0 4rem 2px !important;
  height: 48px !important;
}

/* main product */
.col-right .main__product-item {
  float: right;
  margin-right: 110px !important;
}


.main__product-item {
  margin-bottom: 12rem;
}

.main__product-title {
  width: 100%;
  padding-top: 6.37%;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.main__product-img img {
  margin: 2rem 0;
  width: var(--product-img);
  height: var(--product-img);
}

.main__product-description {
  width: var(--product-img);
}

.main__product-description-sm {
  display: block;
  font-weight: 400;
  color: var(--text-color);
}

.main__product-description-large {
  display: block;
  font-weight: 300;
  color: var(--text-color);
  width: calc(var(--product-img) + 20rem);
}

/* main content */
.main__content {
  border-top: 1px solid var(--border-color);
}

.main__content-story {
  padding-top: 2rem;
}

.main__content-preface {
  display: block;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: 400;
  max-width: 66.7% !important;
  color: var(--text-color);
}

.main__content-btn {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  margin-top: 40px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.main__content-slogan {
  margin-bottom: 80px;
}

.main__content-slogan-text {
  font-weight: 900;
}

/* slide images */
.main__insta {
  border-top: 1px solid var(--border-color);
}

.main__insta-heading {
  height: 46px;
  margin-top: 20px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
}

.main__insta-icon {
  display: block;
  color: var(--text-color);
}

.main__insta-hastag {
  display: block;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 0.5em;
}

/* main about */
.main__about-navigation {
  border-top: 1px solid var(--border-color);
  padding: 0;
  display: flex;
}

.main__about-sidebar {
  width: 100%;
}

.main__about-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.main__about-item {
  display: block;
  list-style: none;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-top: 2.6rem;
}

.main__about-item--active {
  position: relative;
}

.main__about-item--active::before {
  content: "";
  position: absolute;
  height: 0.8rem;
  top: 0;
  width: 100%;
  background-color: var(--border-color) ;
  z-index: 1;
}
.main__about-title {
  padding-top: 2rem;
}

.main__about-title h4 {
  font-weight: 900;
  margin: 0;
}


.main__about-link {
  font-weight: 700;
}

.main__about-content {
  display: block;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: 300;
  margin-bottom: 20px;
  width: 60%;
}

.main__about-readmore {
  display: block;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: #7D868C;
  font-weight: 400;
}

.main__about-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}

.email-enter-input {
  position: absolute;
  margin-left: -2em;
}

.email-enter-input:hover {
  cursor: pointer;
}

.email-enter-input img {
  width: 50%;
}

/* cookie */
.cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.cookie {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 2.7rem;
  background-color: var(--white-color);
  z-index: 99999999;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 2rem 8rem;
}

.cookie-img {
  margin-right: 4rem;
  align-self: center;
}

.cookie-img img {
  width: 100%;
  height: 100%;
}

.cookie-text {
  flex: 1;
}

.cookie-text h5 {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.cookie-close-btn {
  margin-bottom: 4rem;
  cursor: pointer;
  padding: 0 1.68rem;
}

.pop-up-close {
  display: none !important;
}

.your-email {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--text-color);
  width: 480px;
  color: #7d868c;
  display: flex;
  padding: 2rem 4rem 5.6rem 4rem;
  z-index: 1;
}

.your-email-main {
  flex: 1;
}

.your-email h4 {
  margin: 2rem 0 0.4rem 0;
}

.your-email h5 {
  margin-bottom: 3.2rem;
  max-width: 82%;
}

.email-enter-input {
  position: absolute;
  right: 8%;
  bottom: 18%;
  width: 4.6rem;
  height: 4.6rem;
}

.email-enter-input:hover {
  cursor: pointer;
}

.email-enter-input img {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  object-fit: cover;
}

.your-email input {
  width: 82%;
  height: 4.4rem;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  color: #fff;
}

.email-close-btn {
  position: absolute;
  right: 8%;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

#your-email::placeholder {
  font-size: 27px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0px;
  color: var(--white-color);
}

.slider {
  margin: 4em 0;
}

.slider-01 .owl-item .item {
  width: fit-content;
}

.slider-01.owl-carousel .owl-item img {
  height: 400px !important;
  /* object-fit: contain; */
}

.slider-01.owl-carousel .owl-item {
  /* width: auto !important; */
  max-width: 592.47px !important;
}

.slider-01.owl-carousel .owl-stage-outer {
  max-height: 400px !important;
}


.item-about{
  display: none;
}

.item-about.active{
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --text-header-size: 5.6rem;
    --product-img: 100% !important;
  }

  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  
  .top_nav {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }


  .main__product-title {
    font-weight: 700 !important;
  }
  
  .heading {
    height: 100vh;
  }
  
  .heading-bg-main {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../../assets/images/T&T_Poster-21.png) !important;
  }

  .heading-bg-child1 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../../assets/images/T&T_Poster-21.png) !important;
  }

  .header__content-description {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    max-width: 75%;
  }

  .header__content-btn {
    font-size: 1.5rem !important;
    line-height: 2.2rem !important;
    padding: 0 1rem 2px !important;
    height: 44px !important;
  }

  .main__product-item {
    margin-bottom: 4rem;
  }

  .col-right .main__product-item:last-child {
    margin-bottom: 9.6rem;
  }
  

  .main__product-title {
    margin-top: 20%;
    margin-bottom: 10%;
    font-weight: bold !important  ;
  }

  .main__product-mt {
    margin-bottom: 0;
  }

  .col-right .main__product-item {
    float: right;
    margin-right: 0 !important;
  }

  .header__content-description {
    color: var(--white-color);
    font-weight: 300;
    margin-bottom: 4rem;
  }

  .main__content-btn {
    padding: 0 1.25rem 0.4rem;
  }

  .main__content-story {
    margin-right: 2rem;
  }

  .main__content-slogan-text {
    font-size: 8.8rem !important;
    line-height: 8.8rem !important;
    font-weight: 900;
  }

  .main__insta-item {
    height: 20rem;
    width: 30rem;
  }

  .main__content-story {
    margin-right: 1rem;
  }

  .main__insta-item {
    margin-right: 2.4rem;
  }

  .main__insta-hastag {
    font-size: 2rem;
    font-weight: 2.7rem;
    font-weight: 700;
  }

  .main__content-preface {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: 300;
    max-width: 90%;
  }

  .main__about-list {
    justify-content: flex-end;
    width: 100%;
  }

  .main__about-title h4 {
    font-weight: 700;
  }

  .main__about-item:first-child img {
    width: 4rem;
  }

  .main__about-item:nth-child(2) img {
    width: 8rem;
  }

  .main__about-item {
    padding-top: 1.5rem;
  }

  .main__about-item img {
    padding: 1rem !important;
    width: 6rem;
  }

  .main__about-content {
    width: 98%;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }

  .main__content-preface {
    max-width: 100% !important;
  }

  .main__content-btn {
    margin-top: 24px;
    margin-bottom: 80px;
  }

  .main__about-readmore {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .nav-slider {
    width: 100%;
  }

  .nav-link {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  
  .carousel-indicators {
    bottom: 2.4rem !important;
    margin-left: 4% !important;
  }

  .account .col-two .item{
    margin-bottom: 1em;
  }

  .bold{
    font-weight: bold !important;
  }

  .number-quantity{
    display: none;
  }


  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important;
  }

  .container {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 4% !important;
    width: 100% !important;
    margin: 0 !important;
  }

  /* .header__content {
    margin-top: calc(var(--nav-height) - 1vh);
  } */

  .nav-btn-close {
    position: absolute;
    top: 0.9rem;
    left: 1.2rem;
  }

  .nav-list {
    margin: 8rem -2rem;
  }

  .nav-list-item {
    margin-bottom: 2rem;
  }

  .btn-group .dropdown-menu {
    left: auto;
    right: 5px;
    position: absolute;
    width: calc(100vw - 5px);
    margin: auto;
  }

  .sidebar-bottom-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .slidebar-bottom-separate {
    border: 1px solid #b7bfc5;
    height: 2.4rem;
    margin: 0 1.6rem;
  }

  .sidebar-bottom {
    margin: 0 -0.6rem !important;
  }

  .top_nav {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .top_nav .logo .icon {
    padding-top: 8%;
  }

  .user {
    display: flex;
  }

  .navtop-icon {
    display: flex;
    width: 100%;
    height: 3.6rem;
  }

  .sidebar-bottom-region label {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  select {
    width: 14vh;
    font-size: 1.5rem;
    line-height: 2.3rem;
    background-color: transparent !important;
  }

  select#language {
    width: 16vh;
  }

  .slidebar-bottom-separate {
    border: 1px solid #b7bfc5;
    height: 2.8vh;
    margin: 0 1vh 0 2vh;
  }

  .cookie {
    padding: 2rem 0 1.6rem 0;
    margin: 0;
  }

  .cookie-text {
    text-align: justify;
  }

  .cookie-text h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }

  
.cookie-close-btn {
  margin-top: -12px;
}


  .cookie-img {
    margin: 0 1.6rem;
    width: 4.6rem;
    height: 4.6rem;
  }

  .your-email {
    width: 100% !important;
    padding: 1.2rem 2rem 2.8rem 2rem;
  }

  .your-email h4 {
    font-size: 2rem;
    line-height: 2.7rem;
    margin: 1rem 0 0.4rem 0;
  }

  .your-email h5 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 2.3rem;
  }

  .slider-01.owl-carousel .owl-item .item {
    max-width: 30rem;
    height: 20rem !important;
  }

  .slider-01.owl-carousel .owl-item img {
    /* width: 100% !important; */
    height: 100% !important;
    object-fit: inherit;
  }

  .mb-132 {
    margin-bottom: 9.6rem;
  }

  .your-email input {
    width: 98% !important;
  }

  .email-close-btn {
    right: 6%;
  }

  .email-enter-input {
    right: 8%;
    bottom: 3.5rem;
    width: 3.2rem;
    height: 3.2rem;
  }

  #your-email::placeholder {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .main__content-slogan-text {
    font-weight: bold !important;
  }

  .slider-01.owl-carousel .owl-item img {
    width: auto !important;
  }
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  :root {
    --text-header-size: 5.6rem;
    --product-img: 60rem !important;
  }

  .hide-on-tablet {
    display: none !important;
  }
  .show-on-tablet {
    display: flex !important;
  }

  .main__about-list {
    width: 90%;
  }

  .main__about-content {
    /* padding: 0 16px; */
    width: 90%;
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .main__content-slogan-text {
    font-size: 12rem;
    line-height: 12rem;
  }

  .main__product-title {
    font-weight: bold !important  ;
  }

  .carousel-indicators {
    margin-left: 120px !important;
  }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  :root {
    --product-img: 34.1rem !important;
  }

  .hide-on-pc {
    display: none !important;
  }
  .show-on-pc {
    display: flex !important;
  }

  .main__product-mt {
    margin-top: 0;
  }

  .container {
    padding-left: 120px !important;
    padding-right: 0 !important;
    min-width: 100% !important;
    margin: 0 !important;
  }

  .main__product-mt {
    margin-top: 240px;
  }

  .main__content-slogan-text {
    font-size: 15rem;
    line-height: 15rem;
    
  }

  .carousel-indicators {
    margin-left: 120px !important;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --product-img: 48rem !important;
  }


  .main__about-list {
    width: 60%;
  }

  .main__about-content {
    /* padding: 0 16px; */
    width: 82%;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }

  .main__content-slogan-text {
    font-size: 18.6rem;
    line-height: 18.6rem;
    font-weight: 700;
  }

  .main__about-list {
    width: 38vw;
  }

  .main__about-title {
    font-size: 27px !important;
    line-height: 35px !important;
    font-weight: 900 !important;
  }

  .carousel-indicators {
    margin-left: 120px !important;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1484px) {
  
  .container {
    padding-left: 120px !important;
    padding-right: 0 !important;
    min-width: 100% !important;
    margin: 0 !important;
  }

  .main__about-list {
    width: 28vw;
  }
  .main__about-content {
    /* padding: 0 16px; */
    width: 62%;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }

  .carousel-indicators {
    margin-left: 120px !important;
  }
  
}
